<!-- HEADER -->
<header class="inner" typeof="foaf:Project" resource="https://linkedconnections.org/#project">
  <hgroup>
    <h1><a href="/"><img src="{{ site.baseurl }}/assets/images/logo_open_traffic_lights.png" alt="Open Traffic Lights" width="500" id="image-header"/></a></h1>
    <h3 class="tagline">Revolutionizing traffic light APIs</h3>
  </hgroup>
  <nav>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/#what">What is it?</a></li>
      <li><a href="{{ site.baseurl }}/specification.html">Specification</a></li>
      <!--<li><a href="tutorials">Tutorials</a></li>-->
    </ul>
  </nav>
  
</header>
<!-- Thank you Leaflet.js for this nice website template! -->
<nav class="ext-links">
  <a class="ext-link github" href="https://github.com/brechtvdv/observer" title="View Source on GitHub"><img alt="View Source on GitHub" src="{{ site.baseurl }}/assets/images/github-round.png" width="46"></a>
</nav>