<!-- HEADER -->
<header class="inner" typeof="foaf:Project" resource="https://linkedconnections.org/#project">
  <hgroup>
    <h1><a href="/"><img src="/assets/images/logo_open_traffic_lights.png" alt="Open Traffic Lights" width="500" id="image-header"/></a></h1>
    <h3 class="tagline">Revolutionizing traffic light APIs</h3>
  </hgroup>
  <nav>
    <ul class="nav">
      <!-- <li><a href="/#what">What is it?</a></li> -->
      <!-- <li><a href="/specification/1-0">Specification</a></li> -->
      <!--<li><a href="tutorials">Tutorials</a></li>-->
    </ul>
  </nav>
  
</header>
<!-- Thank you Leaflet.js for this nice website template! -->
<nav class="ext-links">
  <a class="ext-link github" href="https://github.com/brechtvdv/open-traffic-lights-publisher" title="View Source on GitHub"><img alt="View Source on GitHub" src="/assets/images/github-round.png" width="46"></a>
</nav>